@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-bg-color: #7f00e0;
  --main-bg-color2: #021963;
  --main-bg-color3: #aadcec;
  --main-bg-color4: #73bbc5;
  --main-bg-color5: #fbf4f4;
  --main-bg-color6: #f67796;
  --main-bg-color7: #1c494c;
  --main-bg-color8: #73cadc;
  --main-bg-color9: #f9f5f1;
  --main-bg-color10: #47280b;
  --main-bg-color11: #ff5708;
  --main-bg-color12: #f67439;
  --main-bg-color13: #ffffff;
  --main-bg-color14: #7f00e0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  @apply text-[5rem] text-[var(--main-bg-color2)] font-bitter font-bold;
}

button a {
  @apply font-[700]  capitalize tracking-widest font-bitter;
}
#nav a {
  @apply font-bitter;
}

#nav li {
  @apply px-[2rem] uppercase hover:text-[var(--main-bg-color)] delay-100;
}

#home button > a {
  @apply text-[var(--main-bg-color4)] duration-150 text-[1.1rem] hover:text-white font-bitter hover:bg-[var(--main-bg-color3)] border-[var(--main-bg-color3)] z-[2] px-[45px] py-[15px] rounded-lg border-[3px] border-solid;
}
#home h1 {
  @apply py-6 text-[7vw] md:text-[5vw] lg:text-[3.5vw];
}
#home .greetings_span {
  @apply block;
}

#about {
  @apply bg-[var(--main-bg-color5)];
}
#about a {
  @apply font-[700] text-[var(--main-bg-color4)]  capitalize tracking-widest;
}
#about h1 {
  @apply text-[var(--main-bg-color2)];
}
#about span {
  @apply text-[var(--main-bg-color6)];
}

#about h2 {
  @apply font-bitter text-[var(--main-bg-color2)] text-[1.2rem] text-left pt-[1.8rem];
}

#skillset {
  @apply bg-[var(--main-bg-color14)];
}

#skillset h1 {
  @apply text-[var(--main-bg-color13)] capitalize;
}
#skillset span {
  @apply text-[var(--main-bg-color3)];
}

#skillset p {
  @apply font-semibold font-bitter text-[var(--main-bg-color13)];
}

#skillset i {
  @apply text-[70px] mx-auto my-1 text-[var(--main-bg-color13)];
}

#projects {
  @apply bg-[var(--main-bg-color9)] font-bitter;
}

#projects #title h1 {
  @apply text-[var(--main-bg-color10)];
}

#projects #title span {
  @apply text-[var(--main-bg-color11)];
}

#projects h2 {
  @apply text-[var(--main-bg-color11)] font-bold text-[1.5rem];
}

#projects p {
  @apply text-[var(--main-bg-color10)] font-semibold;
}

#projects span {
  @apply text-white font-semibold;
}

#projects button {
  @apply hover:bg-[var(--main-bg-color11)];
}

#projects .tech_stack_projects {
  @apply bg-[var(--main-bg-color12)] mr-[0.7rem] text-[10px] sm:text-[12px] md:text-[14px] font-semibold px-5 py-2 rounded;
}

#contact {
  @apply bg-[var(--main-bg-color)];
}

#contact button > a {
  @apply duration-300 text-[1.1rem] text-[white] hover:text-[var(--main-bg-color)] hover:bg-[white] z-[2] px-[2.3rem] py-[0.8rem]  rounded-lg border-[3px] border-solid;
}

span {
  @apply text-[var(--main-bg-color4)];
}

input {
  @apply border-[var(--main-bg-color)] border-[5px] border-solid text-center rounded focus:outline-none font-semibold  py-[0.5rem]  text-[5.2vw] md:text-[3.5vw]  lg:text-[3.5vw] text-left;
}

input::placeholder {
  @apply text-[var(--main-bg-color4)];
}

/* .stripes {
  @apply bg-[url("data:image/svg+xml,%3Csvg_xmlns='http://www.w3.org/2000/svg'_viewBox='0_0_22.93_22.93'%3E%3Cpolygon_fill='%23aadcec'_points='0_8.18_14.75_22.93_22.74_22.93_0_0.19_0_8.18'/%3E%3Cpolygon_fill='%23aadcec'_points='22.93_8.37_22.93_0.38_22.56_0_14.56_0_22.93_8.37'/%3E%3C/svg%3E")] bg-[11px] opacity-60;
} */

.stripes {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.93 22.93'%3E%3Cpolygon fill='%23aadcec' points='0 8.18 14.75 22.93 22.74 22.93 0 0.19 0 8.18'/%3E%3Cpolygon fill='%23aadcec' points='22.93 8.37 22.93 0.38 22.56 0 14.56 0 22.93 8.37'/%3E%3C/svg%3E");
  background-size: 11px;
  opacity: 0.6;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
